html, body {
  width: 100%;
  height: 100%;
  /*font-family: 'mortal-kombat-font';*/
}

/*@font-face {
 font-family: 'mortal-kombat-font';
 src: url('../assets/mortal_kombat_fonts/mkda.ttf');
}

h1 {
  font-family: 'mortal-kombat-font';
}*/

body {
  background-image: url('https://i.ytimg.com/vi/eTgyr7tYLb4/maxresdefault.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

body .container {
  background-color: rgba(0, 1, 4, 0.8);
  min-width: 100%;
  height: 100%;
  color: #A92822;
}

header {
  text-align: center;
}

header h1 {
  margin: 0;
}

.hole_component {
  display: flex;
  flex-wrap: wrap;
}

.hole {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/b/b1/Mortal_Kombat_Logo.svg/1017px-Mortal_Kombat_Logo.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;
  /*border: 1px solid #A92822;
  border-radius: 100%;*/
  min-width: 33.3%;
  height: 120px;
  flex: 1;
}

.mole {
  display: none;
  text-align: center;
}

.mole.up {
  display: block;
}
